<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> KnowYourWaste </title>

    <link rel="icon" href="https://i.imgur.com/GAoX0k6.png" type="image/png"/>
    <meta charset="utf-8"/>
    <meta name="description" content="KnowYourWaste er en side for forretninger, der ønsker at mindske deres madspild"/>

    <!-- css-filer -->
    <link href="/index.css" type="text/css" rel="stylesheet">

    <!-- bootstraaaaap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- font-family: 'Quicksand', sans-serif; -->

</head>
<body>
<div class="indexwrapper">

    <div class="indexlogo">

        <img class="indexlogo" src="https://i.imgur.com/wgDrCip.png" alt="Know_Your_Waste_logo.png">

    </div>
    <div class="container font">
        <div class="row">
            <!-- Kolonne til inputfelt -->
            <div class="col">
                <div id="form-container">
                    <!-- Dette er en form
                    Vi laver @PostMapping("/postCatFact") i Controlleren for at lave et endpoint - pga. denne form -->
                    <form id="login-form" action="/login" method="post">
                        <h5 class="loginformheadline">Login</h5>

                        <!--
                        <input> Laver input-felt
                        type="text" == Siger hvilket input der tages imod i inputfeltet
                        id="catfact" == Kalder bestemt styling vi har i css-filen
                        name="catfact" == giver inputtet vi får ind referencenavnet, catfact -->
                        <input type="text" id="brugernavn" name="brugernavninput" class="color"><br><br>
                        <!-- Laver et inputfelt med boolsk værdi: enten er der trykket submit eller også er der ikke-->
                        <!--
                        <input> Laver input-felt
                        type="text" == Siger hvilket input der tages imod i inputfeltet
                        id="catfact" == Kalder bestemt styling vi har i css-filen
                        name="catfact" == giver inputtet vi får ind referencenavnet, catfact -->
                        <input type="text" id="adgangskode" name="adgangskodeinput" class="color"><br><br>
                        <!-- Laver et inputfelt med boolsk værdi: enten er der trykket submit eller også er der ikke-->
                        <input type="submit" value="Submit" class="submitbutton">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

